@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing: 265ms;

@mixin transformScale($size: 1) {
  transform: scale($size);
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
}

a {
  text-decoration: none;
  color: inherit;
}

.social-container {
  width: 400px;
  
  text-align: left;
}

.social-icons {
    margin-left:-14px;
    margin-top: -20px;
    margin-bottom: -10px;

  @keyframes fadein {
      from {
          font-size: 0;
      }
      to {
          font-size: 100;
      }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  padding: 0;
  list-style: none;

  li {
      display: inline-block;
      margin: 0.15em;
      position: relative;
      font-size: 1.2em;
  }

  i {
      color: #fff;
      position: absolute;
      top: 20px;
      left: 21px;
      transition: all $timing ease-out;
      font-size: 35px;

      &.fa-at {
          --icon-color: #ffa500;
      }

      &.fa-linkedin {
          --icon-color: #0072b1;
      }

      &.fa-instagram {
          --icon-color: #e4405f;
      }

      &.fa-github {
          --icon-color: #b6b1b0;
      }
  }

  a {
      display: inline-block;

      &:before {
          @include transformScale();
          content: ' ';
          display: block;
          width: 60px;
          aspect-ratio: 1;
          border-radius: 100%;
          
          
          
          transition: all $timing ease-out;
      }

      &:hover:before {
          transform: scale(0);
          transition: all $timing ease-in;
      }

      &:hover i {
          @include transformScale(1.618);
          color: var(--icon-color);

          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: var(--icon-color);
          transition: all $timing ease-in;
      }
  }
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(1, -1.73, 0.78, 2.4);

}
.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;

  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .email:hover .tooltip {
  background: #ffa500;
}

.wrapper .email:hover .tooltip::before {
  background: #ffa500;
}



.wrapper .instagram:hover .tooltip {
  background: #e4405f;
}

.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
}

.wrapper .linkedin:hover .tooltip {
  background: #0072b1;
}

.wrapper .linkedin:hover .tooltip::before {
  background: #0072b1;
}



.wrapper .github:hover .tooltip {
  background: #333333;
  color: #ffffff;
}

.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
