.experience {
    white-space: pre-line;
    padding: 0px 250px;

    .line {
      display: block;
      top: 6px;
      left: 5px;
      height: 100%;
      width: 0.5px;
      color: white;
      background-color: white;
      margin: 10px 32.5px;
      span{
        display:block;
      }
    }

    h2 {
      font-size: 40px;
      padding-bottom: 25px;
    }
  
    li {
      display: inline-grid;
      grid-template-columns: 0fr 1fr;
    }

    .text {
      padding-left: 50px;
      padding-bottom: 25px;
      line-height:15px;

      .title {

        h3 {
        
          margin: 0px;
        }
      }

      .company {
        p{
            font-size:20px;
        }
      }
      .dates{
        p{
            font-size: 18px;
        }
      }
      .description{
        p{
            line-height:30px;
            font-size:18px;
        }
      }
    }

    img {
      width: 65px;
      border-radius: 100%;
    }

    
  }
  