.home-page {
  overflow: scroll;

  .text-zone {
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      width: 85%;
      max-height: 100%;
  }

  h1 {
      color: #181818;
      font-size: 90px;
      line-height: 90px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;

      &:before {
          font-family: 'La Belle Aurore', cursive;
          color: #ffd700;
          font-size: 18px;
          position: absolute;
          margin-top: -40px;
          left: -15px;
          opacity: 0.6;
      }

      &:after {
          font-family: 'La Belle Aurore', cursive;
          color: #ffd700;
          font-size: 18px;
          position: absolute;
          margin-top: 18px;
          margin-left: 20px;
          animation: fadeIn 1s 1.7s backwards;
          opacity: 0.6;
      }

      img {
          margin-left: 20px;
          opacity: 0;
          width: 32px;
          height: auto;
          animation: rotateIn 1s linear both;
          animation-delay: 1.4s;
      }
  }

  h2 {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 25px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 3s 3s backwards;
  }


}


