.home-page {
  overflow: scroll;

  .text-zone {
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      max-height: 100%;
  }
  

  h1 {
      
      font-size: 80px;
      line-height: 90px;
      margin: 0;
      
      font-weight: 400;
      


      img {
          margin-left: 20px;
          opacity: 0;
          width: 32px;
          height: auto;

      }
  }

  h2 {
      
      margin-top: 20px;
      font-weight: 400;
      font-size: 25px;
      
      letter-spacing: 3px;

  }


}


