html {
  font-size: 62.5%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
  
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight:300;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #020C18;
  
}

